In [5]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import read_csv
%matplotlib inline

In [6]:
data_path = os.path.join('C:\\Users\\name\\Documents\\netology courses\\works with data\\names\\')
# yob_1950 = os.path.join('C:\\Users\\name\\Documents\\netology courses\\works with data\\names\\yob1950.txt')
# yob_2000 = os.path.join('C:\\Users\\name\\Documents\\netology courses\\works with data\\names\\yob2000.txt')

In [64]:
# names_1900 = pd.read_csv(data_path + '\\' + 'yob1900.txt', names=['Name', 'Gender', 'Count']).head(3)

In [48]:
# sort_names_1900 = names_1900.sort_values(by=
# 'Count', ascending=False)

In [63]:
def twenty_century_names():
    cols = ['Name', 'Gender', 'Count']
    names_1900 = pd.read_csv(data_path + 'yob1900.txt', names=cols)
    names_1950 = pd.read_csv(data_path + 'yob1950.txt', names=cols)
    names_2000 = pd.read_csv(data_path + 'yob2000.txt', names=cols)
    names_3 = [names_1900, names_1950, names_2000]
    df = pd.DataFrame(data=names_3)
    names_1900_1950_2000 = pd.concat(names_3)
    return names_1900_1950_2000.head(10)
twenty_century_names()

        Name Gender  Count
0       Mary      F  16706
1      Helen      F   6343
2       Anna      F   6114
3   Margaret      F   5304
4       Ruth      F   4765
5  Elizabeth      F   4096
6   Florence      F   3920
7      Ethel      F   3896
8      Marie      F   3856
9    Lillian      F   3414

In [33]:
def top_3_names():
    cols = ['Name', 'Gender', 'Count']

SyntaxError: unexpected EOF while parsing (<ipython-input-33-0080c93213f9>, line 2)