In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import read_csv
%matplotlib inline

In [5]:
data_path = os.path.join('C:\\Users\\name\\Documents\\netology courses\\works with data\\names\\')
# yob_1950 = os.path.join('C:\\Users\\name\\Documents\\netology courses\\works with data\\names\\yob1950.txt')
# yob_2000 = os.path.join('C:\\Users\\name\\Documents\\netology courses\\works with data\\names\\yob2000.txt')

In [64]:
# names_1900 = pd.read_csv(data_path + '\\' + 'yob1900.txt', names=['Name', 'Gender', 'Count']).head(3)

In [48]:
# sort_names_1900 = names_1900.sort_values(by=
# 'Count', ascending=False)

In [12]:
def twenty_century_names():
    cols = ['Name', 'Gender', 'Count']
    names_1900 = pd.read_csv(data_path + 'yob1900.txt', names=cols)
    names_1950 = pd.read_csv(data_path + 'yob1950.txt', names=cols)
    names_2000 = pd.read_csv(data_path + 'yob2000.txt', names=cols)
    names_3 = [names_1900, names_1950, names_2000]
    df = pd.DataFrame(data=names_3)
    names_1900_1950_2000 = pd.concat(names_3)
    return names_1900_1950_2000.head(3)
twenty_century_names()

    Name Gender  Count
0   Mary      F  16706
1  Helen      F   6343
2   Anna      F   6114

In [19]:
def gender_count():
    boys = []
    girls = []
    names_1900 = pd.read_csv(data_path + 'yob1900.txt', names=['Name', 'Gender', 'Count'])
    names_1950 = pd.read_csv(data_path + 'yob1950.txt', names=['Name', 'Gender', 'Count'])
    names_2000 = pd.read_csv(data_path + 'yob2000.txt', names=['Name', 'Gender', 'Count'])
#     x=names_1900[names_1900.Gender=='M'].count.sum()
#     names_1900.Count.sum()
    boys.append(names_1900[names_1900.Gender == 'M'].Count.sum())
    boys.append(names_1950[names_1950.Gender == 'M'].Count.sum())
    boys.append(names_2000[names_2000.Gender == 'M'].Count.sum())
    girls.append(names_1900[names_1900.Gender == 'F'].Count.sum())
    girls.append(names_1950[names_1950.Gender == 'F'].Count.sum())
    girls.append(names_2000[names_2000.Gender == 'F'].Count.sum()) 
    print('F:', girls, boys)
#     return boys
gender_count()

F: [299810, 1713259, 1814922] [150486, 1790871, 1962744]