In [32]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import read_csv
%matplotlib inline

In [17]:
data_path = os.path.join('C:\\Users\\name\\Documents\\netology courses\\works with data\\names\\')
# yob_1950 = os.path.join('C:\\Users\\name\\Documents\\netology courses\\works with data\\names\\yob1950.txt')
# yob_2000 = os.path.join('C:\\Users\\name\\Documents\\netology courses\\works with data\\names\\yob2000.txt')

In [64]:
# names_1900 = pd.read_csv(data_path + '\\' + 'yob1900.txt', names=['Name', 'Gender', 'Count']).head(3)

In [48]:
# sort_names_1900 = names_1900.sort_values(by=
# 'Count', ascending=False)

In [50]:
def twenty_century_names():
    cols = ['Name', 'Gender', 'Count']
    names_1900 = pd.read_csv(data_path + 'yob1900.txt', names=cols)
    names_1950 = pd.read_csv(data_path + 'yob1950.txt', names=cols)
    names_2000 = pd.read_csv(data_path + 'yob2000.txt', names=cols)
    names_1900_1950 = pd.merge(names_1900, names_1950)
    # names_1900_1950.head(3)
    names_1900_1950_2000 = pd.merge(names_1900_1950, names_2000)
    return names_1900_1950_2000.head(3)
twenty_century_names()

      Name Gender  Count
0   Flavia      F      7
1     Elex      M      5
2  Overton      M      5

In [52]:
# def twenty_century_names_2():
#     cols = ['Name', 'Gender', 'Count']
#     names_1900 = pd.read_csv(data_path + 'yob1900.txt', names=cols)
#     names_1950 = pd.read_csv(data_path + 'yob1950.txt', names=cols)
#     names_2000 = pd.read_csv(data_path + 'yob2000.txt', names=cols)
#     names_1900_1950 = pd.merge(names_1900, names_1950)
#     # names_1900_1950.head(3)
#     names_1900_1950_2000 = pd.merge(names_1900_1950, names_2000, on=['Name', 'Gender'], suffixies=('_1950', '_2000'))
#     return names_1900_1950_2000.head(3)
# twenty_century_names_2()